render.log
video.log
renders/video/
renders/video_annotated/
__pycache__/
video_rev.log
renders/video_rev/
renders/video_rev_annotated/
video_rev_drone.log
renders/video_rev_drone/
renders/video_rev_drone_annotated/
